* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* Task 1 */
#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;

  list-style-type: none;
}

.item {
  background: #f6f6fe;

  border-radius: 8px;

  width: 392px;
  min-height: 264px;
}
.item h2 {
  margin: 0;
  padding-top: 16px;
  padding-left: 16px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 16px;
  list-style-type: none;
}

.item ul li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/* Task 2 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;

  list-style-type: none;
}

.img {
  width: 360px;
  height: 300px;
}

/* Task 3 */
.int-Name {
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.int-Name::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.int-H1 {
  margin-top: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* Task 4 */
.login-form {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  padding: 24px;
  width: 408px;
  min-height: 256px;
}

.login-form label {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form input {
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.login-form input:hover,
.login-form input:focus {
  border: 1px solid #000;
  outline: none;
}

.login-form input:active {
  border: 1px solid #808080;
}

.login-form button {
  margin-top: 8px;
  padding: 8px 16px;
  background: #4e75ff;

  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.login-form button:hover,
.login-form button:focus {
  background: #6c8cff;
}

/* Task 5 */
.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.widget p {
  margin: 0;
}
.color {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  margin-top: 16px;
  background: #4e75ff;

  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 148px;
  height: 40px;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

/* Task 6 */

#controls {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  background: #f6f6fe;

  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
}

#controls input {
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 8px;

  width: 150px;
  height: 40px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
}

#controls [data-create] {
  background: #4e75ff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 120px;
  height: 40px;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

#controls [data-create]:hover {
  background: #6c8cff;
}

#controls [data-destroy] {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #ff4e4e;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

#controls [data-destroy]:hover {
  background: #ff7070;
}

#boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  background: #f6f6fe;

  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 134px;
  gap: 10px;
}
